extends layout

block content
  h1 Search Results in account
  div(class="container-fluid", id="main")
      div(class="row", id="r")
        -
          var list = ["Uno", "Dos", "Tres", "Cuatro", "Cinco", "Seis"];
        for(i=0;i<list.length;i++){
              div(class="col-sm-2") list[i]
        }
          


            