extends layout

block content
  h1= title
  p Welcome to Rahul's #{title}
  button(type="button", class="btn btn-secondary",  onclick="update()") Press me
  div(id="target") Text
  a(class='button' href='https://wab40dasari.herokuapp.com/account') Account
  script. 
        var client_count = 0;
        function update(){
        client_count = client_count + 1;
        document.getElementById("target").innerHTML = client_count;
                }
